.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainContainer {
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.mainContainer div {
  border: 1px solid black;
  display: flex;
}

.input {
  width: 40%;
  height: 40%;
}

.resumen {
  width: 40%;
  height: 40%;
}

.chart {
  width: 100%;
  height: 60%;
}
