.AppMain_sidebar {
  background-color: #0050ac;
  color: #fff;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  transition: width 0.3s ease;
}

.AppMain_sidebar.collapsed {
  width: 50px;
}

.AppMain_sidebarLink {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.AppMain_sidebarLink:hover {
  background-color: #00275b;
}

.AppMain_sidebarLink span {
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  font-size: 18px;
  transition: opacity 0.3s;
}

.AppMain_sidebar.collapsed .AppMain_sidebarLink {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}

.AppMain_sidebar.collapsed .AppMain_sidebarLink svg {
  margin: 0;
  width: 20px;
}

.AppMain_sidebar.collapsed .AppMain_sidebarLink span {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 12px;
  width: 100%;
  font-family: "Arial", sans-serif;
}

/* Iconos de FontAwesome */
.AppMain_sidebarLink svg {
  margin-left: 5px;
  font-size: 20px;
  width: 24px;
  text-align: center;
}

.sidebar-header {
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
}

.sidebar-header svg {
  font-size: 20px;
  width: 20px;
  text-align: center;
  margin: 6px;
}

.sidebar-header:hover {
  background-color: #00275b;
  border-radius: 5px;
}
