/* AppMain.css */

/* Diseño principal */
.AppMain_outerBox {
  display: flex;
  min-height: 100vh;
}

/* Barra lateral */
.AppMain_sidebar {
  background-color: #0050ac;
  color: #fff;
  width: 200px;
  display:block;
  flex-direction: column;
  padding: 50px 15px;
  justify-content: space-between;
}

.AppMain_sidebarLink {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.AppMain_sidebarLink:hover {
  background-color: #00275B;
}

.AppMain_sidebarLink span {
  font-family: 'Arial', sans-serif;
  margin-left: 20px;
  font-size: 18px;
}

/* Contenido principal */
.AppMain_content {
  flex-grow: 1;
  background-color: #ecf0f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Iconos de FontAwesome */
.AppMain_sidebarLink svg {
  margin-left: 5px;
  font-size: 20px;
  width: 24px;
  text-align: center;
}

.sidebar-header {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

.sidebar-header svg {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  width: 24px;
  text-align: center;
}