/* Diseño principal */
.AppMain_outerBox {
  display: flex;
  min-height: 100vh;
}

/* Contenido principal */
.AppMain_content {
  flex-grow: 1;
  background-color: #ecf0f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
